@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inconsolata:wght@300;500;700&family=Poppins:wght@100;200;300&family=Updock&display=swap');

* {
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

/* Conteúdo */
body {
    width: 100%;
    height: 100vh;
    font-family: 'Inconsolata', monospace;
    background-image: url(../images/backchar.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.titulo-principal {
    text-align: center;
}



.container {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    width: 60%;
    padding: 20px;
    opacity: 80%;
    border-radius: 1rem;
}

.logo {
    font-family: 'Fredoka One', cursive;
    font-size: 5rem;
    font-weight: 500;
    color: #ffd000;  
    -webkit-text-stroke: 2px black; 
}

.container h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 500;
    color: black;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.2em;
}

.container p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #fff;
    
}

.container .lore-game {
    text-align: center;
}

.start-game {
    border: none;
    cursor: crosshair;
    width: 40%;
    background: #fff;
    font-size: 1.25rem;
    color: black;
    border-radius: 10px;
    transition: .2s linear;
    text-transform: uppercase;
    padding: 0.8em;
}

.start-game:hover {
    background: #ffd000;
    color: black;
    transform: scale(1.1);
}

/* Media Query */

@media(max-width:900px) {
    .logo {
        margin-top: 2.5rem;
        font-size: 3.8rem;
    }

    .container h2 {
        font-size: 1.6rem;
    }

    .container p {
        font-size: 1.25rem;
    }
    .start-game {
    font-size: 1rem;
    }
}

@media(max-width:600px) {
    .container {
        width: 70%;
    }

    .logo {
        font-size: 3rem;
    }

    .container h2 {
        font-size: 1.5rem;
    }

    .container p {
        font-size: 1rem;
    }
    .start-game {
    font-size: 1rem;
    }
}

@media(max-width:400px) {
    
    .container {
        width: 80%;
    }

    .logo {
        font-size: 2.5rem;
    }

    .container h2 {
        font-size: 1rem;
    }

    .container p {
        font-size: 1rem;
    }
    .start-game {
    font-size: 0.8rem;
    }

    
}
