@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inconsolata:wght@300;500;700&family=Poppins:wght@100;200;300&family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,400;1,500;1,600&display=swap');

* {
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Alegreya', serif;
    background-image: url(../images/oldpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    padding: 2rem;
    border-radius: 2rem;
}

.titulo-principal {
    text-align: center;
    margin-top: 0.5rem;
}

.logo {
    font-size: 4rem;
    font-weight: 800;
    color: black;  
    padding: 0.5rem;
    -webkit-text-stroke: 1px #fff; 
    border-radius: 10px;
}

.container h2 {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 800;
}

.container p {
    margin-bottom: 1.7rem;
    font-size: 1.8rem;  
    font-weight: 800; 
}

.container li {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    text-align: left;   
    font-weight: 800; 
}

.container .lore-game {
    text-align: center;
}

.start-game {
    border: none;
    cursor: crosshair;
    width: 50%;
    background: black;
    font-size: 1.25rem;
    color: #fff;
    border-radius: 10px;
    transition: .2s linear;
    text-transform: uppercase;
    padding: 0.8em;
}

.start-game:hover {
    transform: scale(1.2);
}

/* Media Query */

@media(max-width:1400px) {
    .logo {
        margin-top: 2.5rem;
        font-size: 3.8rem;
    }

    .container h2 {
        font-size: 2.5rem;
    }

    .container p {
        font-size: 1.6rem;
    }
    .start-game {
    font-size: 1rem;
    }
}

@media(max-width:1200px) {
    .logo {
        margin-top: 6rem;
        font-size: 3rem;
    }

    .container h2 {
        font-size: 2rem;
    }

    .container p {
        font-size: 1.25rem;
    }

    .container li {
        font-size: 1.3rem;
    }

    .start-game {
    font-size: 1rem;
    }
}

@media(max-width:850px) {
    .logo {
        margin-top: 2.5rem;
        font-size: 3rem;
    }

    .container {
        width: 60%;
        padding: 0;
    }

    .page {
        margin-top: 8rem;
    }

    .container h2 {
        font-size: 1.6rem;
    }

    .container li {
        font-size: 1.3rem;
    }

    .container p {
        font-size: 1.25rem;
    }
    .start-game {
    font-size: 1rem;
    }
}

@media(max-width:600px) {
    .container {
        width: 70%;
        padding: 0;
    }

    .page {
        margin-top: 8rem;
    }

    .logo {
        font-size: 3rem;
    }

    .container h2 {
        font-size: 1.5rem;
    }

    .container li {
        font-size: 1.2rem;
    }

    .container p {
        font-size: 1.5rem;
    }
    .start-game {
    font-size: 1rem;
    }
}

@media(max-width:540px) {
    
    .container {
        width: 70%;
        padding: 0;
    }

    .page {
        margin-top: 8rem;
    }

    .logo {
        font-size: 2.5rem;
    }

    .container h2 {
        font-size: 1.4rem;
    }

    .container p {
        font-size: 1.3rem;
    }
    .start-game {
    font-size: 0.8rem;
    }
}

    @media(max-width:400px) {
    
        .container {
            width: 80%;
        }
    
        .logo {
            font-size: 2rem;
        }
    
        .container h2 {
            font-size: 1.2rem;
        }
    
        .container p {
            font-size: 1.1rem;
        }
        .container li {
            font-size: 1rem;
        }
        .start-game {
        font-size: 0.6rem;
        }
    }
